#container{
  text-align: center;
  font-size: 30px;
  font-weight: bolder;

}
.button{
    width:40px;
    height:40px;
    border:3px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 30px;
}
#date{
  font-size:30px;
  font-weight: bold;
  margin-top:30px;
}